
$color-primary: #A3B18A;         
$color-background: #FAF3E0;        
$accent-orange: #E28C37;          
$brun-cacao: #5E503F;              
$gris-ardoise-clair: #D9D9D9;      


$primary: $color-primary;
$secondary: $accent-orange;
$success: $color-primary;
$light: $color-background;
$dark: $brun-cacao;
$border-color: $gris-ardoise-clair;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "cacao": $brun-cacao,
  "sauge": $color-primary,
  "orange": $accent-orange,
  "gris" : $border-color
);

@import url(fonts.scss);
@import "../../node_modules/bootstrap/scss/bootstrap";


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  font-family: 'Lato';
}

header, footer {
  font-family: 'PlayfairDisplay';
}

main {
  flex-grow: 1;
}

h1, h2, h3 {
  color: $dark;
  font-family: 'PlayfairDisplay';
  font-weight: bold;
}

span {
   font-family: 'Lato';
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.favoris {

  grid-column: 1;
  grid-row: 1 / span 4;

}

.last_recipe {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.popular_recipe {
  grid-column: 2 / span 2;
  grid-row: 3/span 2;
}

.categories {
  grid-column: 1/ span 2;
  grid-row: 5;
}